
@{
    ViewData["Title"] = "Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Basket.css" />
</head>

@model BookStoreVer4.ModelView.BasketModel
@using BookStoreVer4.Models.Purchases

<h2>В вашей корзине находится @Model.orderBuys.Count() заказов</h2>

<div class="basket_checkout">
    <div class="items-basket">
        @foreach (var item in Model.orderBuys)
        {
           
                <div class="item-basket">
                    <div class="item-basket__title">
                        @item.Book.title
                    </div>
                    <div class="item-basket__logo">
                        <img src="@item.Book.imagePath" alt="@item.Book.title " />
                    </div>
                    <div class="item-basket__count">
                        Количество заказанных экземпляров: @item.amount
                    </div>
                    <div class="item-basket__price">
                        Стоимость одной книги: @item.Book.price
                    </div>
                    <div class="item-basket__summ">
                        Общая стоимость заказанных книг составляет: @{ var sum = item.Book.price * item.amount;} @sum руб.
                    </div>
                    <div class="checkout__button">
                        <a asp-action="BasketConfirm" asp-controller="Basket" asp-route-id="@item.buyid" class="btn btn-primary mb-3">Оплатить заказ</a>
                    </div>
                </div>
         }
    </div>

    
</div>






