
@model BookStoreVer4.ModelView.OrderModel


@{
    ViewData["Title"] = "Ваш заказ";
}

<head>
    <link rel="stylesheet" href="~/css/Order.css" />
</head>

<div class="Title">
    <h2>Давайте закажем книгу</h2>
    <p>Для оформления книги вам необходимо заполниь несколько полей</p>
</div>

<div class="description">
    Уважаемый @Model.client.firstName @Model.client.lastName вы заказали книгу @Model.changeBook.title автора @Model.changeBook.Author.nameAuthor
    в количестве @Model.bookAmount штук
</div>

<div class="formOrder">
    <form asp-action="Order" asp-controller="Buy" method="post">
        <input class="hide" type="hidden" asp-for="@Model.order.clientid" value="@Model.client.clientid" />
        <input class="hide" type="hidden" asp-for="@Model.order.bookId " value="@Model.changeBook.bookId" />
        <input class="hide" type="hidden" asp-for="@Model.order.amount " value="@Model.bookAmount" />
        <div class="formOrder__city">
            <p>Пожалуйста выберите город в который вы ходите оформить доставку вышего заказа</p>
            @foreach (var item in Model.cities)
            {
                <div class="formOrder__form-check">
                    <input class="form-check-input" type="radio" asp-for="@Model.order.cityid" value="@item.cityid">
                    <label class="form-check-label" asp-for="@item.cityName">
                        @item.cityName
                    </label>
                </div>
            }
        </div>
        <div class="formOrder__adress">
            <label asp-for="@Model.order.adressDelivery" class="form-label">Укажите адресс доставки</label>
            <textarea class="form-control" rows="1" asp-for="@Model.order.adressDelivery "></textarea>
        </div>
        <div class="formOrder__descriptionDelivery">
            <label asp-for="@Model.order.buyDescription" class="form-label">
                Вы можете указать дополнительные седения для для службы доставки. Например (не работает домофон, позвонить за 30 минут, и.т.д.)
            </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="@Model.order.buyDescription "></textarea>
        </div>
        <div class="formOrder__button">
            <button type="submit" class="btn btn-primary mb-3">Оформить заказ</button>
        </div>
    </form>
</div>

