@using System.Security.Claims
@using BookStoreVer4.Models.Books
@model BookStoreVer4.ModelView.HomeIndexModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Магазин книг</title>
    <script data-require="jquery" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/BuyBooks.css" />

</head>
@if (User.Identity.IsAuthenticated)
{
    @if (User.FindFirst(i => i.Type == ClaimTypes.Role).Value == "saller")
    {

        <a class="Saler_mode"  asp-controller="Saller" asp-action="index">Открыть режим управления книгами и заказами </a>
    }
}


<div class="container books__row">
    <section class="genree">
        <div class="genree__title">
            <h4>Выбор жанра</h4>
        </div>
        <ul class="genree__list">
            @foreach (var item in Model.genres )
            {
                <li><a asp-controller="Home" asp-action="Index" asp-route-sort="@item.nameGenre">@item.nameGenre</a> </li>
            }
            
        </ul>
    </section>
    <section class="books">
        <article class="books__title">
            <h2>Список книг доступных для покупки</h2>
        </article>
        <div class="books__change">
            @foreach (var item in Model.books)
            {
            <div class="books__element">
                <div class="books__element_title">
                    <h4><a asp-controller="Home" asp-action="BookDetail" asp-route-id="@item.bookId">@item.title</a></h4>
                </div>
                <div class="books__element_image">
                    <img src="@item.imagePath " alt="@item.title">

                </div>
                <div class="books__element_author">
                    Автор: @item.Author.nameAuthor
                </div>
                <div class="books__element_genre">
                    Жанр: @item.Genre.nameGenre
                </div>
                <div class="books__element_price"> Стоимость одной книги: @item.price руб.</div>
                <div class="books__element_buy">
                    <div>
                        <form asp-action="Order" asp-controller="Buy" method="get">

                            <label class="form-label">Введите количество:</label>
                            <input class="form-control" name="amount" />
                            <button class=" mt-3 btn btn-primary" type="submit" asp-action="Order" asp-controller="Buy" asp-route-id="@item.bookId" asp-route-amount="amount">Купить</button>
                        </form>
                    </div>
                </div>
            </div>
            }


        </div>
    </section>
</div>


